@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/5-dots.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

@media screen and (min-width: 600px) and (min-height: 800px) {
  body {
    padding: 100px;
  }
}

#card {
  width: 100%;
  height: 100%;
  aspect-ratio: 600 / 851;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
  background-color: white;
  background-size: auto 472px;
  border-radius: 15px;

  translate: -50% -150%;

  color: rgb(162, 194, 165);
  font-size: 1.7rem;
  text-align: center;
}

#card.animate {
  animation-name: springin, scrollbackground, wobblebackground;
  animation-duration: 1s, 3s, 15s;
  animation-timing-function: cubic-bezier(.87,1.65,.71,.77), linear, ease-in-out;
  animation-iteration-count: 1, infinite, infinite;
  animation-direction: normal, normal, alternate;
  translate: 0 0;
}

@keyframes springin {
  from {
    translate: -50% -150%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes scrollbackground {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 472px;
  }
}

@keyframes wobblebackground {
  from {
    background-position-x: 800px;
  }

  to {
    background-position-x: 1200px;
  }
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading.hidden {
  display: none;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: rgb(162, 194, 165);
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
